[submodule ".config/tmux/cpu"]
	path = .config/tmux/cpu
	url = https://github.com/tmux-plugins/tmux-cpu
[submodule ".config/zsh/plugins/zsh-autosuggestions"]
	path = .config/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".config/zsh/plugins/zsh-syntax-highlighting"]
	path = .config/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".config/zsh/plugins/zsh-sudo"]
	path = .config/zsh/plugins/zsh-sudo
	url = https://github.com/hcgraf/zsh-sudo
[submodule "/home/wantguns/.config/p10k"]
	path = /home/wantguns/.config/p10k
	url = https://github.com/romkatv/powerlevel10k.git
